<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="school" class="com.weifang.pojo2.School">
        <!--该处使用构造方法的参数名称-->
        <constructor-arg name="name1" value="清华"/>
        <constructor-arg name="address1" value="海淀区"/>
    </bean>
</beans>