<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.weifang.pojo.User"/>
    <bean id="uM" class="com.weifang.dao.UserMapperImpl"/>
    <bean id="uS" class="com.weifang.service.impl.UserServiceImpl">
        <property name="userMapper" ref="uM"/>
    </bean>
    <bean id="uC" class="com.weifang.controller.UserController">
        <property name="userService" ref="uS"/>
    </bean>

</beans>